.CTPageOneContainer{
    background-image: url(../../../../public/assets/catalog/cover.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    height: 100%;
} 